- name: Authenticate to GitHub Packages
  run: echo "//npm.pkg.github.com/:_authToken=${{ secrets.NPM_TOKEN }}" > ~/.npmrc

- name: Configure npm for GitHub Packages
  run: echo "@copy-ninja:registry=https://npm.pkg.github.com" >> ~/.npmrc
